<!DOCTYPE html>
<html>

<head>
    <%- include('sayfalar/header', { title: 'Şehir Listesi' }) %>
        <title>İletisim Sayfası</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>İletişime Geçin</h1>
    
    <form action="/iletisim/send" method="GET">
        <div class="form-group-container">

            <div class="form-group">
                <label for="name">İsim:</label>
                <input id="name" name="name" class="form-input" placeholder="İsim" type="text" />
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" name="email" class="form-input" placeholder="E-Mail" type="email" />
            </div>

            <div class="form-group">
                <label for="phone">Telefon:</label>
                <input id="phone" name="phone" class="form-input" placeholder="0512 345 6789" type="text" />
            </div>

            <div class="form-group">
                <label for="message">Mesaj:</label>
                <textarea class="form-textarea" id="message" name="message" placeholder="Mesaj"></textarea>
            </div>

        </div>
        <button class="form-submit" value="Ara" type="submit">Gönder</button>
    </form>
</body>

</html>